<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iamdilipkumar.com.spacedig">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SpaceListActivity"
            android:theme="@style/AppTheme.CollapsingToolbar" />
        <activity
            android:name=".ui.activities.FullDetailActivity"
            android:label="@string/apod"
            android:theme="@style/AppTheme.CollapsingToolbar" />
        <activity
            android:name=".ui.activities.GeneralItemListActivity"
            android:label="@string/title_generalitem_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.GeneralItemDetailActivity"
            android:label="@string/title_generalitem_detail"
            android:parentActivityName=".ui.activities.GeneralItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iamdilipkumar.com.spacedig.ui.activities.GeneralItemListActivity" />
        </activity>

        <provider
            android:name=".data.generated.NasaProvider"
            android:authorities="iamdilipkumar.com.spacedig.data.provider"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activities.MapsLocationActivity"
            android:label="@string/title_activity_maps_location" />

        <receiver android:name=".widget.ApodWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/apod_widget_info" />
        </receiver>
    </application>

</manifest>